*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Outfit',sans-serif;
}

body{

background:#090814;

color:white;

overflow-x:hidden;

min-height:100vh;

}

.blob{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.4;

animation:float 8s infinite ease-in-out;

}

.one{

width:350px;

height:350px;

background:#7C3AED;

top:-120px;

left:-100px;

}

.two{

width:300px;

height:300px;

background:#A855F7;

bottom:-100px;

right:-80px;

animation-delay:3s;

}

@keyframes float{

50%{

transform:translateY(-30px);

}

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

}

.back{

color:#C084FC;

text-decoration:none;

font-size:18px;

}

.container{

display:flex;

justify-content:center;

align-items:center;

padding:60px 20px;

}

.card{

width:900px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:30px;

padding:45px;

box-shadow:0 20px 60px rgba(0,0,0,.35);

}

.card h1{

font-size:46px;

margin-bottom:15px;

}

.card p{

color:#CBD5E1;

margin-bottom:35px;

}

.upload-box{

display:block;

cursor:pointer;

}

.upload-box input{

display:none;

}

.upload-content{

border:2px dashed #8B5CF6;

border-radius:20px;

padding:45px;

text-align:center;

transition:.3s;

}

.upload-content:hover{

background:#18142d;

border-color:#C084FC;

}

.icon{

font-size:55px;

margin-bottom:15px;

}

#filename{

display:block;

margin-top:15px;

color:#A5B4FC;

}

textarea{

width:100%;

height:220px;

margin-top:35px;

padding:20px;

background:#141126;

border:1px solid #2B254B;

border-radius:18px;

color:white;

font-size:17px;

resize:none;

outline:none;

}

button{

width:100%;

margin-top:35px;

padding:18px;

border:none;

border-radius:16px;

background:linear-gradient(90deg,#7C3AED,#A855F7);

color:white;

font-size:20px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-4px);

box-shadow:0 15px 35px rgba(168,85,247,.45);

}

.error{

background:#7F1D1D;

padding:15px;

border-radius:12px;

margin-bottom:20px;

}
.home-btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:12px 22px;

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.12);

border-radius:12px;

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.home-btn:hover{

background:#7C3AED;

transform:translateY(-3px);

box-shadow:0 10px 25px rgba(124,58,237,.35);

}