<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
</head>
<body>

    <h1>AI Resume Analyzer</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file"
               name="resume"
               accept=".pdf"
               required>

        <button type="submit">
            Upload Resume
        </button>

    </form>

    {% if extracted_text %}
        <h2>Extracted Resume Text</h2>

        <pre>
{{ extracted_text }}
        </pre>
    {% endif %}

</body>
</html>